# dependencies
node_modules
.pnpm-store

# cache & locals
.next
.turbo
.tanstack
.env*.local
.DS_Store
*.pem
.idea
*.bak

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local builds
dist/
standalone/
data/
out/

# lock files
package-lock.json
# bun.lock*
pnpm-lock.yaml
yarn.lock

# typescript
*.tsbuildinfo
next-env.d.ts